.BgContainer {
  background-color: #9ba9eb;
  padding: 25px;
}
.logo {
  width: 100px;
}
.passwordContainer {
  margin: 17px;
  border-radius: 10px;
  padding: 50px;
  background-color: #5763a5;
  display: flex;
  justify-content: space-between;
}
.passwordFieldContainer {
  width: 550px;
  padding: 17px;
  background-color: #454f84;
  border-radius: 10px;
  color: white;
}

.pMImage img {
  width: 400px;
}
.inputs {
  display: flex;
  align-items: center;
  background-color: #f8fafc;
  padding: 10px;
  margin: 10px;
}
.inputs img {
  width: 30px;
  border-right: 1px solid black;
}
.inputs input {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
}
.addBtn {
  text-align: right;
}
.addBtn button {
  cursor: pointer;
  padding: 10px;
  color: white;
  background-color: #0b69ff;
  width: 130px;
  border: none;
  border-radius: 10px;
}
.passwordListContainer {
  background-color: #5763a5;
  margin: 10px;
  color: white;
  padding: 15px;
  border-radius: 10px;
}
.passwordSearchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.passwordSearchContainer div {
  display: flex;
  align-items: center;
}
.passwordSearchContainer div p {
  border: 1px solid white;
  width: 50px;
  text-align: center;
  border-radius: 10px;
  margin-left: 10px;
}
.checkboxContainer {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.checkboxContainer input {
  padding: 40px;
  width: 50px;
  height: 20px;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.noPasswords {
  width: 100%;
  height: 600px;
  margin: 10px;
}
.noPasswordsContainer {
  text-align: center;
}
.noPasswordsContainer p {
  font-size: 25px;
}
